<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Lotto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LottoServlet</servlet-name>
    <servlet-class>test01.controller.LottoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LottoServlet</servlet-name>
    <url-pattern>/test01/Lotto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>security.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/security/Security.do</url-pattern>
  </servlet-mapping>
</web-app>